/* MIXINS */

//
// Alternate buttons
//
@each $color,
$value in $theme-colors {
    .btn-#{$color} a {
        @include button-variant($value, $value);
    }
}

@each $color,
$value in $theme-colors {
    .btn-outline-#{$color} a {
        @include button-outline-variant($value);
    }
}

@mixin box{
    box-shadow: 0 3px 10px rgba(10,10,10,.15);
    border-radius: var(--radius);
    background-color: var(--white);
}